.App { 
  display: grid;
  place-items: center;
  /* background-color: cadetblue; */

}

input {
  outline: none;
  border-width: 0 0 2px;
  border-color: grey;
}

button {
  margin: 10px;
  border-radius: 5px;
  background-color: cadetblue;
  color: white;
  font-size: 15px;
}

.todolist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  border: 1px solid lightgray;
  margin-bottom: 10px !important;
  padding: 10px;
}
